@model IEnumerable<Insurance_Final_Version.Models.AddressViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>List of all addresses in the database</h1>

<table class="table-responsive">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Street)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.HouseNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RegistryNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.City)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@foreach(var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Street)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.HouseNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RegistryNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.City)
			</td>
		</tr>
	}
	</tbody>
</table>
