@model IEnumerable<Insurance_Final_Version.Models.InsuranceViewModel>

@{
    ViewData["Title"] = "CustomerInsurances";
}

<h1>CustomerInsurances</h1>

<p>
    <a asp-action="Create" asp-route-customerid="@ViewData["CustomerId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
